
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font: 300 100%/1.5 'Montserrat', sans-serif;
  line-height: 1.5em;
}

/* Style the header */
header {
  background-color: #013528;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #E0CA94;
}

h2 {
  color: #013528;
  letter-spacing: .5rem;
}

header h1 {
  font-size: 5vw;
}

header p {
  font-size: 6vw;
}

.vertical {
  border: 1px solid grey;
  width: 350px;
  margin-left: 0;
  margin-top: -28px;
}

.range {
  margin-top: -15px;
  margin-bottom: -30px;
}

.education {
  display: inline-block;
  width: .1em;
  height: .1em;
  font-size: 20px;
  float: left;
}
/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
aside {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
  font-size: 1.5em;
  line-height: 2.88rem;
  padding-left: 1rem;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 1.5em;
  hyphens: auto;
  line-height: 2.88rem;
}

.summary {
  margin: 1rem;
}

/* Style the footer */
footer {
  background-color: #013528;
  padding: 10px;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
  color: white;
}

h3 {
  font-size: 1.5rem;
}

span {
  font-size: 1.5rem;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
