
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 300 100%/1.5 'Montserrat', sans-serif;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

header {
  background-color: #013528;
  padding: 30px;
  text-align: center;
  color: #E0CA94;
}

a {
  color: #ae49f1;
}

a:hover {
  text-decoration: none;
}

h2 {
  color: #013528;
  letter-spacing: .5rem;
}

header h1 {
  font-size: 8vw;
}

/* .container {
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
} */
.vertical {
  border: 1px solid grey;
  width: 350px;
  margin-left: 0;
  margin-top: -28px;
}

.range {
  margin-top: -15px;
  margin-bottom: -30px;
}

.education {
  display: inline-block;
  width: 1em;
  font-size: 50px;
  float: left;
}

section {
  display: -webkit-flex;
  display: flex;
}

aside {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
  font-size: 1.5em;
  line-height: 2.88rem;
  padding-left: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 1.5em;
  hyphens: auto;
  line-height: 2.88rem;
}

.summary {
  margin: 1rem;
}

footer {
  background-color: #013528;
  padding: 10px;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
  color: white;
}

h3 {
  font-size: 1.5rem;
}

span {
  font-size: 1.5rem;
}


@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  
    header h1 {
  font-size: 6vw;
}
  h4 {
    font-size: 3vw;
  }
}

  
